*{
box-sizing: border-box;
}

.footer-main{
    display: flex;
    justify-content: space-around;
}

/* .footer-left{
    float: left;
    padding-left: 150px;
    padding-top:20px;

} */
/* 
.footer-right{
    float: right;
    padding-right: 257px;
    padding-top:20px;

} */

.footer-right img{
    width: 150px;
    border-radius: 200px;
    border: 5px solid rgb(218, 224, 122);
}

.main-body{
    padding-left: 80px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-right: 80px;
}

.left-body{
    width: 80%;
}

.right-body{
    width: 80%;
}

.borders{
    display: flex;
}

.for-border{
    background-color: lightgrey;
    border-radius: 5px;
    float: left;
}

@media screen and (max-width: 768px) {
    .main-body {
        /* width: 100%;  */
        flex-direction: column;
    }
    
}